/* MonthlyPage.css */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
}

h2 {
    color: #0d6efd; /* Bootstrap primary color */
}

.table-responsive {
    margin-top: 20px;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #0d6efd; /* Bootstrap primary color */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none; /* Initially hidden */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media print {
    .hide-on-print {
        display: none !important;
    }
}
